In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import numpy as np

## Obtaning the df. about

In [2]:
df_suicide = pd.read_csv('data/master.csv')

In [26]:
df_suicide.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population'], dtype='object')

In [4]:
df_suicide.sample()

      country  year     sex          age  suicides_no  population
4358  Belarus  1983  female  35-54 years          NaN   1283800.0

In [5]:
df_suicide.country.unique()

array(['Albania', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bermuda', 'Bolivia', 'Bosnia and Herzegovina', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Cabo Verde', 'Canada', 'Cayman Islands', 'Chile', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Falkland Islands (Malvinas)', 'Fiji',
       'Finland', 'France', 'French Guiana', 'Georgia', 'Germany',
       'Greece', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong SAR', 'Hungary', 'Iceland',
       'Iran (Islamic Rep of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Macau',
       'Malaysia', 'Maldives', 'Malta', 'Martinique', 'Mauritius',
       'Mayotte', 'Mexico', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Netherlands', 'Netherlands Antilles',
       'New Zealand', 'Nicaragua', 'Norway',
       'Occupied Palestinian Territory', 'Oman', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Reunion',
       'Rodrigues', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and Grenadines',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'TFYR Macedonia', 'Tajikistan', 'Thailand',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Virgin Islands (USA)', 'Zimbabwe'], dtype=object)

In [30]:
df_suicide_uk=df_suicide[df_suicide.country =='United Kingdom']

In [31]:
df_suicide_uk.year.unique()

array([1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016])

## Obtaining via web scraping the releases Love Island

In [32]:
url='https://thetvdb.com/series/love-island/allseasons/official'

In [33]:
soup = BeautifulSoup(requests.get(url).content, "html.parser")

In [34]:
#soup

In [35]:
love_island_date = soup.find_all("ul", attrs={'class':'list-inline text-muted'})

In [36]:
lst_date=[ i.getText().replace(',', '').replace('\n', ' ').split() for i in love_island_date]

In [37]:
for i in lst_date:
    i.pop()

In [47]:
lst_date[2]

['June', '9', '2015']

In [51]:
year =[i[2] for i in lst_date]

In [52]:
month =[i[0] for i in lst_date]

In [53]:
love_island_episode= soup.find_all("span", attrs={'class':'text-muted'})

In [54]:
season_episode = [i.getText().split('E') for i in love_island_episode]

In [55]:
lst_episodes=[i[1] for i in season_episode]
lst_seasons=[i[0].replace('S','') for i in season_episode]

In [56]:
love_island_dict={
    'Season': lst_seasons,
    'Episode': lst_episodes,
    "Year": year,
    "Month": month
}

In [60]:
df_loveisland = pd.DataFrame.from_dict(love_island_dict)
df_loveisland.Year= df_loveisland.Year.astype("int")
df_loveisland_2015_2016 = df_loveisland[df_loveisland.Year <2017]

In [61]:
df_loveisland_2015_2016

   Season Episode  Year Month
0      01      01  2015  June
1      01      02  2015  June
2      01      03  2015  June
3      01      04  2015  June
4      01      05  2015  June
..    ...     ...   ...   ...
73     02      40  2016  July
74     02      41  2016  July
75     02      42  2016  July
76     02      43  2016  July
77     02      44  2016  July

[78 rows x 4 columns]